<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MeMe Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        .table{
                border-spacing: 0;
        }
    </style>    
</head>

<body style="margin: 0; padding: 0; background:#f7f7f7;">
    <table cellpadding="0" cellspacing="0" height="100%" width="700px" bgcolor="#ffffff" style="margin: 0 auto;">
        <tr>
            <td>
                <table align="center" width="94%" style="margin: 0 auto; border: 2px solid #d3d1ef;    border-spacing: 0; border-bottom: none;">
                    <tr>
                        <td height="8px"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <!-- <img src="http://staging.memeinfotech.com/memeinfotech/emailtemplate/img/logo.png" alt="Creating Email Magic" width="87" height="85" style="display: block;" /> -->
                            <img src="https://assets-98f9c.firebaseapp.com/logo.png" alt="Creating Email Magic" width="87" height="85" style="display: block;" />

                        </td>
                    </tr>
                    <tr>
                        <td height="50px"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" width="79%">
                                <tr>
                                    <td style="font-family: 'Roboto', sans-serif;color: #797886;font-weight: 500;line-height: 21px;font-size: 17px;padding: 0px 0px 18px 0px;">
                                        Dear {{name}},
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Roboto', sans-serif;color: #797886;font-weight: 500;line-height: 21px;font-size: 17px;">
                                        It was a pleasure speaking with you today and I will like to introduce you to MeMe Infotech.&nbsp;Kindlly visit the link
                                        below:
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="50px"></td>
                    </tr>
                    <tr>
                        <td align="center">

                            <table width="55%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42">
                                <tbody>
                                    <tr style="vertical-align: top">
                                        <td valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; color: #ffffff; background-color: #a394e7; padding-top: 10px; padding-bottom: 10px; font-family: 'Roboto', sans-serif;text-align: center">
                                            <!--<![endif]-->
                                            <a href="http://memeinfotech.com/mitintro/" target="_blank" style="display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #a394e7;color: #ffffff">
                                                <span style="font-size: 18px; line-height: 28px;" data-mce-style="font-size: 14px;">See our intro</span>
                                            </a>
                                            <!--[if !mso]><!-- -->
                                        </td>
                                        <td width="10px"></td>
                                        <td valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; color: #ffffff; background-color: #806fb5; padding-top: 10px; padding-bottom: 10px; font-family: 'Roboto', sans-serif;text-align: center">
                                            <!--<![endif]-->
                                            <a href="http://memeinfotech.com/" target="_blank" style="display: inline-block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #806fb5;color: #ffffff">
                                                <span style="font-size: 18px; line-height: 28px;" data-mce-style="font-size: 14px;">Visit our site</span>
                                            </a>
                                            <!--[if !mso]><!-- -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td height="80px"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="85%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 42">
                                <tbody>
                                    <tr>
                                        <td align="center" width="25%;" style="border-right: 1px solid #dfdde8;">
                                            <table>
                                                <tr>
                                                    <td  align="center" style="color:#8d6fd6;font-family: 'Roboto', sans-serif;font-weight: bolder;font-size:33px;    line-height: 31px;">50+</td>
                                                </tr>
                                                <tr>
                                                     <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-weight: 500;font-size:17px;">PROJECTS</td>
                                                </tr>
                                                <tr>
                                                     <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-size:11px;line-height: 8px;">DELIVERED</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" width="25%;" style="border-right: 1px solid #dfdde8;">

                                            <table>
                                                <tr>
                                                    <td align="center" style="color:#8d6fd6;font-family: 'Roboto', sans-serif;font-weight: bolder;font-size:33px;    line-height: 31px;">40+</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-weight: 500;font-size:17px;">CLIENTS</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-size:11px;line-height: 8px;">SERVED</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" width="25%;" style="border-right: 1px solid #dfdde8;">
                                             <table>
                                                <tr>
                                                    <td align="center" style="color:#8d6fd6;font-family: 'Roboto', sans-serif;font-weight: bolder;font-size:33px;    line-height: 31px;">50+</td>
                                                </tr>
                                                 <tr>
                                                    <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-weight: 500;font-size:17px;">EMPLOYEE</td>
                                                </tr>
                                                 <tr>
                                                     <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-size:11px;line-height: 8px;">ON BOARD</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="center" width="25%;" >
                                             <table>
                                                <tr>
                                                    <td align="center" style="color:#8d6fd6;font-family: 'Roboto', sans-serif;font-weight: bolder;font-size:33px;    line-height: 31px;">1</td>
                                                </tr>
                                                 <tr>
                                                     <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-weight: 500;font-size:17px;">SUCCESSFUL</td>
                                                </tr>
                                                 <tr>
                                                    <td align="center" style="color:#958cac;font-family: 'Roboto', sans-serif;font-size:11px;line-height: 8px;">YEAR</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="15px"></td></tr>
                    <tr>
                         <td>
                            <img src="https://assets-98f9c.firebaseapp.com/grup.jpg" width="100%"/>
                         </td>
                    </tr>
                    <tr><td height="35px"></td></tr>
                    <tr>
                        <td  align="center" style="color:#4e4282;font-family: 'Roboto', sans-serif;font-weight: bolder;font-size:18px;">A few of our Projects</td>
                    </tr>
                    <tr><td height="20px"></td></tr>
                    <tr>
                        <td align="center">
                            <table>
                                <tr>
                                    <td style="font-family: 'Roboto', sans-serif;">
                                            <p style="margin-bottom:5px;font-weight:600;font-size: 18px;color:#4f5684">Websites</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td align="left" style="color:#7172a1;font-family: 'Roboto', sans-serif;line-height: 35px;">  
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://autocentric.in/" target="_blank">Autocentric</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://www.meme.care/" target="_blank">MeMe Care</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://fashionsizzle.com/" target="_blank">Fashion Sizzle</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://test.sikhancestry.com/" target="_blank">SikhAncestry</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://teen-sizzle.com/" target="_blank">Teen Sizzle</a>
                                    </td>
                                    <td width="25px"></td>
                                    <td align="left" style="color:#7172a1;font-family: 'Roboto', sans-serif;line-height: 35px;"> 
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://sizzlemenswear.com/" target="_blank">Sizzle Man</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://mandllawnservices.com/" target="_blank">Lawn Services</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://aandbgaragedoorservices.com/" target="_blank">Garage Door Services</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://acruzidevicesrepairs.com/" target="_blank">Phone Repair Services</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="http://www.kuberausa.com/" target="_blank">Financial Services</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="font-family: 'Roboto', sans-serif;">
                                            <p style="margin-bottom:5px;font-weight:600;font-size: 18px;color:#58587d">Mobile Apps</p>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td align="left" style="color:#7172a1;font-family: 'Roboto', sans-serif;line-height: 35px;width: 40%;">
                                        <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="https://play.google.com/store/apps/details?id=com.memeinfotech.app.meme&hl=en" target="_blank">MeMe Care App</a><br/>
                                        <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="https://play.google.com/store/apps/details?id=com.memeinfotech.worcarhirer" target="_blank">Worcar</a>
                                        
                                    </td>
                                    <td width="25px"></td>
                                    <td align="left" style="color:#7172a1;font-family: 'Roboto', sans-serif;line-height: 35px;"> 
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="https://play.google.com/store/apps/details?id=com.fashionsizzle.app&hl=en" target="_blank">Fashion Sizzle App</a><br/>
                                            <a style="text-decoration: none;font-size: 15px;color: #9090b6;" href="https://play.google.com/store/apps/details?id=com.memeinfotech.kuoododriver&hl=en" target="_blank">Kuoodo</a><br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td height="25px"></td></tr>   
                    <tr>
                        <td  width="94%" style="background-color:#4f5684;">
                            <table >
                                <tr>
                                    <td width="15%" align="center" style="color:#ffffff;font-family: 'Roboto', sans-serif;line-height: 35px;font-size: 14px;"><img src="https://assets-98f9c.firebaseapp.com/earth (1).png" width="20px" height="20px" style="vertical-align: middle;"/>&nbsp;&nbsp;<a style="text-decoration: none; color: #fff;" href="http://memeinfotech.com/" target="_blank">www.memeinfotech.com</a></td>
                                     <td width="15%" align="center" style="color:#ffffff;font-family: 'Roboto', sans-serif;line-height: 35px;font-size: 14px;"><img src="https://assets-98f9c.firebaseapp.com/paper-plane.png" width="20px" height="20px" style="vertical-align: middle;"/>&nbsp;&nbsp;<a style="text-decoration: none; color: #fff;" href="mailto:hello@memeinfotech.com" target="_blank">hello@memeinfotech.com</a></td>
                                      <td width="15%" align="center" style="color:#ffffff;font-family: 'Roboto', sans-serif;line-height: 35px;font-size: 14px;"><img src="https://assets-98f9c.firebaseapp.com/telephone.png" width="20px" height="20px" style="vertical-align: middle;"/>&nbsp;&nbsp;+1 4085209646</td>
                                </tr>
                            </table>
                        </td>
                    </tr> 
                </table>

            </td>
        </tr>
    </table>

</body>

</html>